Repository open-telemetry/opentelemetry-operator, pull requests merged in 2025-04, with the labels that each got.

#3862 Prepare release 0.121.0
  .chloggen/allow-non-identifying.yaml
  .chloggen/feat_ta-namespace-setting.yaml
  .chloggen/fix-extensions-panic.yaml
  .chloggen/implement-image-pullpolicy.yaml
  .chloggen/java-instrumentation-enhancement.yaml
  .chloggen/namespace-ta.yaml
  .chloggen/prometheus_operator_feature_gate_stable.yaml
  .chloggen/remove-label-flag.yaml
  .chloggen/ta_not_assign_targets_to_bad_collectors.yaml
  CHANGELOG.md
  RELEASE.md
  bundle/community/manifests/opentelemetry-operator.clusterserviceversion.yaml
  bundle/openshift/manifests/opentelemetry-operator.clusterserviceversion.yaml
  docs/compatibility.md
  versions.txt
Labels: Skip Changelog

#3831 Bump prometheus-operator to v0.80.1
  cmd/otel-allocator/benchmark_test.go
  cmd/otel-allocator/internal/config/config.go
  cmd/otel-allocator/internal/config/config_test.go
  cmd/otel-allocator/internal/target/discovery_test.go
  cmd/otel-allocator/internal/watcher/promOperator.go
  cmd/otel-allocator/internal/watcher/promOperator_test.go
  cmd/otel-allocator/main.go
  go.mod
  go.sum
  internal/manifests/collector/podmonitor.go
  internal/manifests/collector/podmonitor_test.go
Labels: Skip Changelog

#3873 Fix some flaky tests by increasing timeouts
  cmd/otel-allocator/internal/watcher/promOperator_test.go
  controllers/reconcile_test.go
Labels: Skip Changelog, flaky test

#3877 [chore] s/availabe/available/
  autoinstrumentation/dotnet/Dockerfile
  autoinstrumentation/java/Dockerfile
  autoinstrumentation/nodejs/Dockerfile
  autoinstrumentation/php/Dockerfile
  autoinstrumentation/python/Dockerfile
Labels: Skip Changelog

#3894 Fix flaky informer tests
  cmd/otel-allocator/internal/collector/collector_test.go
  cmd/otel-allocator/internal/watcher/promOperator_test.go
Labels: Skip Changelog

#3851 Add auto-update agent workflow for multiple agents
  .github/workflows/auto-update-agent.yaml
  .github/workflows/auto-update-java-agent.yaml
Labels: Skip Changelog

#3923 Run all CI jobs on ubuntu-latest
  .github/workflows/continuous-integration.yaml
  .github/workflows/e2e.yaml
  .github/workflows/publish-autoinstrumentation-apache-httpd.yaml
  .github/workflows/publish-autoinstrumentation-dotnet.yaml
  .github/workflows/publish-autoinstrumentation-java.yaml
  .github/workflows/publish-autoinstrumentation-nodejs.yaml
  .github/workflows/publish-autoinstrumentation-php.yaml
  .github/workflows/publish-autoinstrumentation-python.yaml
  .github/workflows/publish-images.yaml
  .github/workflows/publish-must-gather.yaml
  .github/workflows/publish-operator-bundle.yaml
  .github/workflows/publish-operator-opamp-bridge.yaml
  .github/workflows/publish-target-allocator.yaml
  .github/workflows/release.yaml
  .github/workflows/reusable-publish-test-e2e-images.yaml
  .github/workflows/scorecard.yaml
  .github/workflows/shellcheck.yaml
Labels: github_actions, Skip Changelog

#3926 Prepare 0.124.0 release
  .chloggen/retry_upgrades.yaml
  CHANGELOG.md
  RELEASE.md
  bundle/community/manifests/opentelemetry-operator.clusterserviceversion.yaml
  bundle/openshift/manifests/opentelemetry-operator.clusterserviceversion.yaml
  docs/compatibility.md
  versions.txt
Labels: Skip Changelog

#3932 Check OpenTelemetryCollector status in e2e tests
  tests/e2e/smoke-daemonset/00-assert.yaml
  tests/e2e/smoke-simplest-v1beta1/00-assert.yaml
  tests/e2e/smoke-statefulset/00-assert.yaml
  tests/e2e/smoke-statefulset/00-install.yaml
Labels: Skip Changelog

#3947 Fix permissions for E2E test image publishing
  .github/workflows/reusable-publish-test-e2e-images.yaml
Labels: github_actions, Skip Changelog
